# Taken from Eclipse.gitignore at http://www.github.com/github/gitignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Taken from Java.gitignore at http://www.github.com/github/gitignore
*.class

# Package Files #
*.jar
*.war
*.ear